<div>
  <p><%=comment.user.email%>: </p>
  <p><%= comment.body %></p>
  <% if user_signed_in? %>
    <%= link_to "Reply", "#", class: "reply-link", data: { parent_id: comment.id } %>
    <div class="dropdown">
      <div class="dropdown-menu comment-form" style="display: none;">
        <%= render 'comments/form', locals: { parent_id: comment.id } %>
      </div>
    </div>
  <% end %>
  <hr />
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const replyLinks = document.querySelectorAll(".reply-link");
    replyLinks.forEach(function(replyLink) {
      replyLink.addEventListener("click", function(event) {
        event.preventDefault();
        const commentForm = event.target.nextElementSibling.querySelector(".comment-form");
        const parentIdInput = commentForm.querySelector("input[name='comment[parent_id]']");
        parentIdInput.value = event.target.dataset.parentId;

        if (commentForm.style.display === "block") {
          commentForm.style.display = "none";
        } else {
          commentForm.style.display = "block";
        }
      });
    });
  });
</script>