<div class="comment">
  <p><%= comment.user.email %>:</p>
  <p><%= comment.body %></p>
  <% if user_signed_in? %>
    <%= link_to "Reply", "#", class: "reply-link", data: { parent_id: comment.id } %>
    <div class="dropdown">
      <div class="dropdown-menu comment-form" style="display: none;">
        <%= render 'comments/form', locals: { parent_id: comment.id } %>
      </div>
    </div>
  <% end %>
  <hr />
</div>

<script>
  document.querySelector('.comments-container').addEventListener('click', function(event) {
    if (event.target.classList.contains('reply-link')) {
      event.preventDefault();

      const commentElement = event.target.closest('.comment');
      const dropdownMenu = commentElement.querySelector('.dropdown-menu.comment-form');

      const parentIdInput = dropdownMenu.querySelector("input[name='comment[parent_id]']");
      parentIdInput.value = event.target.dataset.parentId;

      dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
    }
  });
</script>